body 
  background-color: $color__black
  color: $color__white

.nav__menu > ul
  background-color: $color__black
  & > li > a
    box-shadow: inset 1px 1px $color__light-gray
  & > li:first-child > a
    box-shadow: inset 0 1px $color__light-gray

.nav__config
  background-color: $color__black
  & > ul > li > a
    box-shadow: inset 1px -1px $color__light-gray
.nav__menu--active
  background-color: $color__red
  color: $color__yellow

.border-shadow-bottom
  box-shadow: inset 0 -1px $color__light-gray

.border-bottom
  border-bottom: 1px solid $color__light-gray

.border-shadow-top-bottom-left
  box-shadow: inset 1px 1px $color__light-gray, inset 0 -1px $color__light-gray

.border-shadow-left
  box-shadow: inset 1px 0 $color__light-gray
.border-shadow-right
  box-shadow: inset -1px 0 $color__light-gray