.header
  height: 75px
  padding-left: 1rem
  padding-bottom: 1rem
  display: flex
  flex-direction: column
  justify-content: flex-end
  & > h1:last-child
    margin-top: .25rem
    & > span
      font-weight: 375